body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.hero {
  position: relative;
  display: flex;
  width: 100%;
  height: 730px;
  align-items: center;
  justify-content: space-evenly;
  background-color: #1f2937;
}

.nav-bar {
  position: relative;
  background-color: #1f2937;
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-around;
}

.small-headers {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  justify-content: flex-end;
  align-items: center;
  gap: 14px;
}

#logo {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  color: #f9faf8;
}

p {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: lighter;
}

.main-content {
  position: relative;
  display: flex;
  width: 30%;
  height: auto;
  flex-flow: column;
}

#hero-title {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin-bottom: 0px;
}

#hero-desc {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: lighter;
}

#hero-button {
  background-color: #3882f6;
  border: none;
  border-radius: 6px;
  width: 25%;
  height: 30px;
  color: white;
  font-weight: bold;
}

.info-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 400px;
  align-items: flex-start;
  flex-direction: column;
}

.mid-title {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.image-holder {
  position: inherit;
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.illustration {
  position: relative;
  border-radius: 12px;
  width: 10%;
  border: 4px solid blue;
}

.image-captions {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.image-captions p {
  font-size: 14px;
  color: #6a6a6a;
  word-wrap: break-word;
  width: 10%;
  text-align: center;
}

.mid-title p {
  font-size: 34px;
  font-weight: bolder;
  color: #1f2937;
}
