body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.hero {
  position: relative;
  display: flex;
  width: 100%;
  height: 730px;
  align-items: center;
  justify-content: space-evenly;
  background-color: #1f2937;
}

a {
  text-decoration: none;
}

.nav-bar {
  position: relative;
  background-color: #1f2937;
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-around;
}

.small-headers {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

#logo {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  color: #f9faf8;
}

p {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: lighter;
}

.main-content {
  position: relative;
  display: flex;
  width: 30%;
  height: auto;
  flex-flow: column;
}

#hero-title {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin-bottom: 0px;
}

#hero-desc {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: lighter;
}

#hero-button {
  background-color: #3882f6;
  border: none;
  border-radius: 6px;
  width: 25%;
  height: 30px;
  color: white;
  font-weight: bold;
}

.info-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 400px;
  align-items: flex-start;
  flex-direction: column;
}

.mid-title {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.main-image-holder {
  display: flex;
  width: 30%;
  height: 50%;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
}

button {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
}

.image-holder {
  position: inherit;
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.illustration {
  position: relative;
  border-radius: 12px;
  width: 10%;
  height: 80%;
  border: 4px solid rgb(69, 69, 69);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
}

.image-captions {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.image-captions p {
  font-size: 14px;
  color: #6a6a6a;
  word-wrap: break-word;
  width: 10%;
  text-align: center;
}

.mid-title p {
  font-size: 34px;
  font-weight: bolder;
  color: #1f2937;
}

.quote-container {
  display: flex;
  width: 100%;
  height: 500px;
  background-color: #e5e7eb;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote-text-container p {
  font-size: 36px;
  font-weight: 100;
  color: #1f2937;
  word-wrap: break-word;
}

.quote-text-container {
  display: flex;
  width: 65%;
}

.author-container {
  display: flex;
  width: 65%;
  justify-content: flex-end;
}

.author-container p {
  font-size: 20px;
  font-weight: bold;
  color: #1f2937;
  word-wrap: break-word;
}

.sign-up-container {
  display: flex;
  width: 100%;
  height: 400px;
  align-items: center;
  justify-content: center;
}

.sign-up-box {
  display: flex;
  width: 65%;
  height: 45%;
  background-color: #3882f6;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: space-around;
}

.sign-up-title {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
}

.sign-up-box button {
  width: 15%;
  height: 25%;
  background-color: #3882f6;
  border: 2px solid white;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.6);
}
